# Bazel
bazel-*
.bazelrc.local

# Android & Java
*.class
*.jar
*.dex
*.apk
*.aab
*.keystore
*.idsig
dist/
target/
build/
.gradle/
*.iml
.idea/

# C++
*.o
*.so
*.a

# OS & Environment
.DS_Store
Thumbs.db
*.swp
*.tmp
*.log
.env*
__pycache__/
*.pyc
